<!DOCTYPE html>
<html>
<head>
    <title>Scope Capture App - Gallery</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8, shrink-to-fit=no">
    <meta name="description" content="Scope Capture App">
    
    <!-- iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/icon-96.png') }}">
    
    <!-- Chrome Web app manifest -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

    <link rel="icon" href="{{ url_for('static', filename='img/icon-96.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font_awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-confirm.min.css') }}">

<!--      <link rel="manifest" href="../static/manifest.json"> -->
<!--     <link rel="stylesheet" type="text/css" href="../static/css/style.css"> -->
<!--     <link rel="stylesheet" type="text/css" href="../static/css/font_awesome.css"> -->

<style>

  /* Add a hover effect (blue shadow) */
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

</style>
</head>

<body>

<div class="img-gallery">
  
  <div>
    <a href="/"><button class="fas fa-chevron-left"></button></a>
    <a href="/download_gallery"><button class="">Download All</button></a>
    <button class="" onclick="backup_to_usb(0)">Backup to USB</button>
  </div>

  {% for image in images %}
    <div class="gallery-thumb">
      <a target="_blank" href="{{ url_for('static', filename='captured_pics/' + userId + '/' + image) }}">
        {% if ".png" in image %}
          <img src="{{ url_for('static', filename='captured_pics/' + userId + '/' + image) }}">
        {% elif ".jpg" in image %}
          <img src="{{ url_for('static', filename='captured_pics/' + userId + '/' + image) }}">
        {% elif ".mp4" in image %}
          <video width=100% height=100%"><source src="{{ url_for('static', filename='captured_pics/' + userId + '/' + image) }}" type="video/mp4"></video>
        {% elif ".csv" in image %}
          <img src="{{ url_for('static', filename='img/csv-thumb.jpg') }}">
        {% endif %}
        
        <div>{{ image }}</div>
      </a>
    </div>
  {% endfor %}
  
</div>

<div class="uid w3-display-bottomleft">
      <p>UID: {{ userId }}</p>
</div>


<!-- JS SCRIPTS -->
<!-- <script src="../static/scripts/jquery.min.js"></script> -->
<script src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/jquery-confirm.min.js') }}"></script>

<script>
    function backup_to_usb(val) {
      console.log('Backing up to USB');
      $.ajax({
          type: 'POST',
          url: "/backup_gallery",
          contentType: 'application/json;charset=UTF-8',
          data: JSON.stringify({'value': val}),
          success: function(result) {
            $.alert({
              title: 'USB Drive Backup',
              // icon: 'fas fa-exclamation-circle',
              content: result,
              useBootstrap: false,
              theme: 'modern'
            });
          },
          error: function(result) {
            $.alert({
              title: 'Oops!',
              content: result,
              useBootstrap: false,
              theme: 'modern'
            });
          }
      });
      
    }

</script>

</body>
</html>