<!DOCTYPE html>
<html>
<head>
    <title>Scope Capture App</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8, shrink-to-fit=no">
    <meta name="description" content="Scope Capture App">
    
    <!-- iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/icon-96.png') }}">
    
    <!-- Chrome Web app manifest -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

    <link rel="icon" href="{{ url_for('static', filename='img/icon-96.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font_awesome.css') }}">

<!--      <link rel="manifest" href="../static/manifest.json"> -->
<!--     <link rel="stylesheet" type="text/css" href="../static/css/style.css"> -->
<!--     <link rel="stylesheet" type="text/css" href="../static/css/font_awesome.css"> -->

<style>
  .bgimg {
    background-image: url("{{ url_for('static', filename='img/frame-cross.png') }}"), url("{{ url_for('video_feed') }}");
    background-color: #000;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*background-size: contain;*/
    margin: 0;
    padding: 0;
    position:relative;
  }
</style>
</head>

<body>

<div class="bgimg">
    
    <div id="captureIndicator" class="capture-indicator w3-display-topmiddle">** CAPTURING ** </div>
    
    <div id="leftButtonsPanel" class="buttons-panel w3-display-left">  
        {% if settingsMode == True %}
            <button id="settingsBtn" class="settings-button fas fa-cog fa-1_5x"></button>
        {% endif %}
        <button class="gallery-button fas fa-images fa-1_5x" onclick="window.location.href = '/img_gallery';"></button>
    </div>

    <div id="settingsPanel" class="settings-panel w3-display-left">
        
        <span class="close-settings-panel">&times;</span>

        <h2>Settings:</h2>
        <div class="setting-block">
            <span class="setting-label">White Balance: </span><span class="setting-val" id="wbSliderVal"></span>
            <button class="settings-slider-button fas fa-minus fa-xs" id="minus"></button>
            <input type="range" min="2300" max="6600" value="{{ scopeSettings['White Balance temperature'].value }}" class="setting-slider" id="wbSlider">
            <button class="settings-slider-button fas fa-plus fa-xs" id="plus"></button>
        </div>
        <div class="setting-block">
            <span class="setting-label">Brightness: </span><span class="setting-val" id="brightnessSliderVal"></span>
            <button class="settings-slider-button fas fa-minus fa-xs" id="minus"></button>
            <input type="range" min="-127" max="127" value="{{ scopeSettings['Brightness'].value }}" class="setting-slider" id="brightnessSlider">
            <button class="settings-slider-button fas fa-plus fa-xs" id="plus"></button>
        </div>
        <div class="setting-block">
            <span class="setting-label">Exposure: </span><span class="setting-val" id="exposureSliderVal"></span>
            <button class="settings-slider-button fas fa-minus fa-xs" id="minus"></button>
            <input type="range" min="1" max="500" value="{{ scopeSettings['Absolute Exposure Time'].value }}" class="setting-slider" id="exposureSlider">
            <button class="settings-slider-button fas fa-plus fa-xs" id="plus"></button>
        </div>
        <div class="setting-block">
            <span class="setting-label">Contrast: </span><span class="setting-val" id="contrastSliderVal"></span>
            <button class="settings-slider-button fas fa-minus fa-xs" id="minus"></button>
            <input type="range" min="0" max="255" value="{{ scopeSettings['Contrast'].value }}" class="setting-slider" id="contrastSlider">
            <button class="settings-slider-button fas fa-plus fa-xs" id="plus"></button>
        </div>
        <div class="setting-block">
            <span class="setting-label">Hue: </span><span class="setting-val" id="hueSliderVal"></span>
            <button class="settings-slider-button fas fa-minus fa-xs" id="minus"></button>
            <input type="range" min="-180" max="180" value="{{ scopeSettings['Hue'].value }}" class="setting-slider" id="hueSlider">
            <button class="settings-slider-button fas fa-plus fa-xs" id="plus"></button>
        </div>
        <div class="setting-block">
            <span class="setting-label">Saturation: </span><span class="setting-val" id="satSliderVal"></span>
            <button class="settings-slider-button fas fa-minus fa-xs" id="minus"></button>
            <input type="range" min="0" max="255" value="{{ scopeSettings['Saturation'].value }}" class="setting-slider" id="satSlider">
            <button class="settings-slider-button fas fa-plus fa-xs" id="plus"></button>
        </div>                   
        <div class="setting-block">
            <span class="setting-label">Gain: </span><span class="setting-val" id="gainSliderVal"></span>
            <button class="settings-slider-button fas fa-minus fa-xs" id="minus"></button>
            <input type="range" min="0" max="48" value="{{ scopeSettings['Gain'].value }}" class="setting-slider" id="gainSlider">
            <button class="settings-slider-button fas fa-plus fa-xs" id="plus"></button>
        </div>
        <div class="setting-block">
            <span class="setting-label">Gamma: </span><span class="setting-val" id="gammaSliderVal"></span>
            <button class="settings-slider-button fas fa-minus fa-xs" id="minus"></button>
            <input type="range" min="1" max="255" value="{{ scopeSettings['Gamma'].value }}" class="setting-slider" id="gammaSlider">
            <button class="settings-slider-button fas fa-plus fa-xs" id="plus"></button>
        </div>
        <div class="setting-block">
            <span class="setting-label">Backlight Comp: </span><span class="setting-val" id="blcSliderVal"></span>
            <button class="settings-slider-button fas fa-minus fa-xs" id="minus"></button>
            <input type="range" min="0" max="8" value="{{ scopeSettings['Backlight Compensation'].value }}" class="setting-slider" id="blcSlider">
            <button class="settings-slider-button fas fa-plus fa-xs" id="plus"></button>
        </div>

    </div>

  <div class="buttons-panel w3-display-right">
      <button class="focus-control-button fas fa-plus fa-1_5x" onclick="set_scope_control('Absolute Focus', 1)"> </button>
      <button class="focus-control-button fas fa-bullseye fa-1_5x" onclick="set_scope_control('Auto Focus', 1)"> </button>
      <button class="focus-control-button fas fa-minus fa-1_5x" onclick="set_scope_control('Absolute Focus', -1)"> </button>
  </div>

  <div class="w3-display-bottommiddle">
      <button id="rec-img-btn" class="record-button fas fa-camera fa-1_5x"  onclick="capture_scope_feed('/save_image')"></button>
      <button id="rec-vid-btn" class="record-button fas fa-video fa-1_5x"  onclick="capture_scope_feed('/save_vid')"></button>      
  </div>

  <div class="status-log w3-display-bottomright">
      <p id="status"> *** Status Log ***</p>
  </div>

  <div class="uid w3-display-bottomleft">
      <p>UID: {{ userId }}</p>
  </div>
<!-- 
    <div class="video-feed">
        <img src="{{ url_for('video_feed') }}">
    </div>
 -->

</div>


<!-- JS SCRIPTS -->
<!-- <script src="../static/scripts/jquery.min.js"></script> -->
<script src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>

<script>
    // a PYUVC workaround >> re-adjust scope settings + focus when app loads 
    document.addEventListener('DOMContentLoaded', (event) => {
        set_scope_control('Auto Exposure Mode', {{ scopeSettings['Auto Exposure Mode'].value }} );
        set_scope_control('Absolute Exposure Time', {{ scopeSettings['Absolute Exposure Time'].value }} );
        set_scope_control('Backlight Compensation', {{ scopeSettings['Backlight Compensation'].value }} );
        set_scope_control('Brightness', {{ scopeSettings['Brightness'].value }} );
        set_scope_control('Contrast', {{ scopeSettings['Contrast'].value }} );
        set_scope_control('Gain', {{ scopeSettings['Gain'].value }} );
        set_scope_control('Hue', {{ scopeSettings['Hue'].value }} );
        set_scope_control('Saturation', {{ scopeSettings['Saturation'].value }} );
        set_scope_control('Gamma', {{ scopeSettings['Gamma'].value }} );
        set_scope_control('White Balance temperature,Auto', {{ scopeSettings['White Balance temperature,Auto'].value }} );
        set_scope_control('White Balance temperature', {{ scopeSettings['White Balance temperature'].value }} );        
        set_scope_control('Absolute Focus', 0);
    });

    // + - buttons to control sliders settings
    var slidersButtons = document.getElementById("settingsPanel").querySelectorAll(".settings-slider-button");
    slidersButtons.forEach(item => {

        item.onclick = function(){
            var sliderId = item.parentElement.querySelector(".setting-slider").id
            var settingSlider = $("#" + sliderId)
            var sliderStep = parseInt(settingSlider.attr('step'), 10);
            var currentSliderValue = parseInt(settingSlider.val(), 10);
            var newSliderValue = currentSliderValue;

            // Update Sliders values when + or = buttons are pressed
            var btnId = this.id
            switch(btnId){
                case "plus":
                    // console.log(sliderId + "+");
                    newSliderValue = currentSliderValue + 1;
                    break;
                case "minus":
                    // console.log(sliderId + "-");
                    newSliderValue = currentSliderValue - 1;
                    break;
            }

            settingSlider.val(newSliderValue).change()

        }
    });

    // Update sliders values and send to scope
    var sliders = document.querySelectorAll('.setting-slider')
    sliders.forEach(item => {
        
        var labelId = item.id + "Val"
        var label = document.getElementById(labelId);
        label.innerHTML = item.value

        // Update sliders labels 
        // item.oninput = function(){
        //     label.innerHTML = this.value
        // }

        // Update actual scope setting with selected slider value
        item.onchange = function() {
            var controlId = this.id
            label.innerHTML = this.value

            switch(controlId){
                case "wbSlider":
                    set_scope_control('White Balance temperature', this.value)
                    break;
                case "brightnessSlider":
                    set_scope_control('Brightness', this.value)
                    break;
                case "exposureSlider":
                    set_scope_control('Absolute Exposure Time', this.value)
                    break;
                case "contrastSlider":
                    set_scope_control('Contrast', this.value)
                    break;
                case "hueSlider":
                    set_scope_control('Hue', this.value)
                    break;
                case "satSlider":
                    set_scope_control('Saturation', this.value)
                    break;
                case "gainSlider":
                    set_scope_control('Gain', this.value)
                    break;
                case "gammaSlider":
                    set_scope_control('Gamma', this.value)
                    break;
                case "blcSlider":
                    set_scope_control('Backlight Compensation', this.value)
                    break;
            }
        }
    });

    // Set Scope Controls values function
    function set_scope_control(ctl, val) {
      console.log('Adjusing ' + ctl + ' to ' + val);
      $.ajax({
          type: 'POST',
          url: "/set_control",
          contentType: 'application/json;charset=UTF-8',
          data: JSON.stringify({'control': ctl, 'value': val}),
          success: function(result) {
                document.getElementById("status").innerHTML = result;
          },
          error: function(result) {
                document.getElementById("status").innerHTML = "ERROR!";
          }
      });

    };

    // Capture Scope image
    function capture_scope_feed(capture_path){
      var timeStamp = new Date().getTime();
      var captureIndicator = document.getElementById("captureIndicator");
      var recVidBtn = document.getElementById("rec-vid-btn");
      var recImgBtn = document.getElementById("rec-img-btn");
      
      captureIndicator.style.display = "block";
      recVidBtn.disabled = true;
      recImgBtn.disabled = true;

      $.ajax({
          type: 'POST',
          url: capture_path,
          contentType: 'application/json;charset=UTF-8',
          data: JSON.stringify({'timestamp': timeStamp}),
          success: function(result) {
                document.getElementById("status").innerHTML = result;
                captureIndicator.style.display = "none";
                recVidBtn.disabled = false;
                recImgBtn.disabled = false;
          },
          error: function(result) {
                document.getElementById("status").innerHTML = "ERROR!";
                captureIndicator.style.display = "none";
                recVidBtn.disabled = false;
                recImgBtn.disabled = false;
          }
      });

    }

    function detectMob() {
        const toMatch = [
            /Android/i,
            /webOS/i,
            /iPhone/i,
            /iPad/i,
            /iPod/i,
            /BlackBerry/i,
            /Windows Phone/i
        ];
        return toMatch.some((toMatchItem) => {
            return navigator.userAgent.match(toMatchItem);
        });
    }

    // Settings Panel Popup Control
    var settingsPopup = document.getElementById("settingsPanel");
    var settingsBtn = document.getElementById("settingsBtn");
    var leftBtnsPanel = document.getElementById("leftButtonsPanel");
    var span = document.getElementsByClassName("close-settings-panel")[0];

    settingsBtn.onclick = function() {
      settingsPopup.style.display = "block";
      leftBtnsPanel.style.display="none";
    }
    span.onclick = function() {
      settingsPopup.style.display = "none";
      leftBtnsPanel.style.display = "block";
    }
    // window.onclick = function(event) {
    //   if (event.target == modal) {
    //     modal.style.display = "none";
    //   }
    // }    

</script>

</body>
</html>