<!DOCTYPE html>
<html>
<head>
    <title>Scope Capture App</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8, shrink-to-fit=no">
    <meta name="description" content="Scope Capture App">
    
    <!-- iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/icon-96.png') }}">
    
    <!-- Chrome Web app manifest -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

    <link rel="icon" href="{{ url_for('static', filename='img/icon-96.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font_awesome.css') }}">

<!--      <link rel="manifest" href="../static/manifest.json"> -->
<!--     <link rel="stylesheet" type="text/css" href="../static/css/style.css"> -->
<!--     <link rel="stylesheet" type="text/css" href="../static/css/font_awesome.css"> -->

<style>
  .bgimg {
    background-image: url("{{ url_for('static', filename='img/frame-cross.png') }}"), url("{{ url_for('video_feed') }}");
    background-color: #000;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*background-size: contain;*/
    margin: 0;
    padding: 0;
    position:relative;
  }
</style>
</head>

<body>

<div class="bgimg" id="bg-main-video">
    
    <div id="captureIndicator" class="capture-indicator w3-display-topmiddle">** CAPTURING ** </div>
    
    <div id="leftButtonsPanel" class="buttons-panel w3-display-left">  
        <button class="fas fa-images fa-1_5x" onclick="window.location.href = '/img_gallery';"></button>
        {% if roboscopeMdde == True %}
            <button id="motionControlBtn" class="fas fa-arrows-alt fa-1_5x"></button>
        {% endif %}
        {% if settingsMode == True %}
            <button id="settingsBtn" class="fas fa-cog fa-1_5x"></button>
        {% endif %}
    </div>

    <div id="motionControlPanel" class="settings-panel w3-display-left">
        <span class="close-settings-panel">&times;</span>        
        <!-- <div class="motion-controls-header">
            <h3>Roboscope Controls</h3>
        </div> -->
        <table>
            <tr>
                <td><button class="fas fa-home fa-sm" onclick="send_grbl_command('H', 0)"></button></td>
                <td><button class="fas fa-hand-point-up fa-sm" onclick="home_on_finger(0)"></button></td>
                <td><button class="fas fa-fingerprint fa-sm" onclick="home_on_caps(0)"></button></td>
                <td>
                    <div class="input-area">
                        <label for="stepSizeSelector" class="input-label">Step Size</label>
                        <input type="number" id="stepSizeSelector" name="step-size" value="{{ step_size }}" min="0.1" max="5" step="0.1" onchange="update_step_size()">
                    </div>
                    <div class="input-area">
                        <label for="feedRateSelector" class="input-label">Speed</label>
                        <input type="number" id="feedRateSelector" name="feed-rate" value="{{ feed_rate }}" min="100" max="1000" step="100" onchange="update_feed_rate()">
                    </div>                        
                </td>
            </tr>
            <tr>
              <td></td>
              <td><button class="fas fa-arrow-up fa-sm" onclick="send_grbl_command('Y', -1)"></button></td>
              <td></td>
              <td><button class="fas fa-arrow-up fa-sm" onclick="send_grbl_command('Z', -1)"></button></td>
            </tr>
            <tr>
              <td><button class="fas fa-arrow-left fa-sm" onclick="send_grbl_command('X', 1)"></button></td>
              <td>X/Y</td>
              <td><button class="fas fa-arrow-right fa-sm" onclick="send_grbl_command('X', -1)"></button></td>
              <td>Z</td>              
            </tr>
            <tr>
                <td></td>
                <td><button class="fas fa-arrow-down fa-sm" onclick="send_grbl_command('Y', 1)"></button></td>
                <td></td>
                <td><button class="fas fa-arrow-down fa-sm" onclick="send_grbl_command('Z', 1)"></button></td>
              </tr>
        </table>        
    
    </div>
    
    <div id="settingsPanel" class="settings-panel w3-display-left">
        
        <span class="close-settings-panel">&times;</span>

        <h2>Settings:</h2>
        <div class="setting-block">
            <span class="setting-label">White Balance: </span><span class="setting-val" id="wbSliderVal"></span>
            <button class="settings-slider-button fas fa-minus fa-xs" id="minus"></button>
            <input type="range" min="2300" max="6600" value="{{ scopeSettings['White Balance temperature'].value }}" class="setting-slider" id="wbSlider">
            <button class="settings-slider-button fas fa-plus fa-xs" id="plus"></button>
        </div>
        <div class="setting-block">
            <span class="setting-label">Brightness: </span><span class="setting-val" id="brightnessSliderVal"></span>
            <button class="settings-slider-button fas fa-minus fa-xs" id="minus"></button>
            <input type="range" min="-127" max="127" value="{{ scopeSettings['Brightness'].value }}" class="setting-slider" id="brightnessSlider">
            <button class="settings-slider-button fas fa-plus fa-xs" id="plus"></button>
        </div>
        <div class="setting-block">
            <span class="setting-label">Exposure: </span><span class="setting-val" id="exposureSliderVal"></span>
            <button class="settings-slider-button fas fa-minus fa-xs" id="minus"></button>
            <input type="range" min="1" max="500" value="{{ scopeSettings['Absolute Exposure Time'].value }}" class="setting-slider" id="exposureSlider">
            <button class="settings-slider-button fas fa-plus fa-xs" id="plus"></button>
        </div>
        <div class="setting-block">
            <span class="setting-label">Contrast: </span><span class="setting-val" id="contrastSliderVal"></span>
            <button class="settings-slider-button fas fa-minus fa-xs" id="minus"></button>
            <input type="range" min="0" max="255" value="{{ scopeSettings['Contrast'].value }}" class="setting-slider" id="contrastSlider">
            <button class="settings-slider-button fas fa-plus fa-xs" id="plus"></button>
        </div>
        <div class="setting-block">
            <span class="setting-label">Hue: </span><span class="setting-val" id="hueSliderVal"></span>
            <button class="settings-slider-button fas fa-minus fa-xs" id="minus"></button>
            <input type="range" min="-180" max="180" value="{{ scopeSettings['Hue'].value }}" class="setting-slider" id="hueSlider">
            <button class="settings-slider-button fas fa-plus fa-xs" id="plus"></button>
        </div>
        <div class="setting-block">
            <span class="setting-label">Saturation: </span><span class="setting-val" id="satSliderVal"></span>
            <button class="settings-slider-button fas fa-minus fa-xs" id="minus"></button>
            <input type="range" min="0" max="255" value="{{ scopeSettings['Saturation'].value }}" class="setting-slider" id="satSlider">
            <button class="settings-slider-button fas fa-plus fa-xs" id="plus"></button>
        </div>                   
        <div class="setting-block">
            <span class="setting-label">Gain: </span><span class="setting-val" id="gainSliderVal"></span>
            <button class="settings-slider-button fas fa-minus fa-xs" id="minus"></button>
            <input type="range" min="0" max="48" value="{{ scopeSettings['Gain'].value }}" class="setting-slider" id="gainSlider">
            <button class="settings-slider-button fas fa-plus fa-xs" id="plus"></button>
        </div>
        <div class="setting-block">
            <span class="setting-label">Gamma: </span><span class="setting-val" id="gammaSliderVal"></span>
            <button class="settings-slider-button fas fa-minus fa-xs" id="minus"></button>
            <input type="range" min="1" max="255" value="{{ scopeSettings['Gamma'].value }}" class="setting-slider" id="gammaSlider">
            <button class="settings-slider-button fas fa-plus fa-xs" id="plus"></button>
        </div>
        <div class="setting-block">
            <span class="setting-label">Backlight Comp: </span><span class="setting-val" id="blcSliderVal"></span>
            <button class="settings-slider-button fas fa-minus fa-xs" id="minus"></button>
            <input type="range" min="0" max="8" value="{{ scopeSettings['Backlight Compensation'].value }}" class="setting-slider" id="blcSlider">
            <button class="settings-slider-button fas fa-plus fa-xs" id="plus"></button>
        </div>

    </div>

  <div class="buttons-panel w3-display-right">
      <button class="fas fa-plus fa-1_5x" onclick="set_scope_control('Absolute Focus', 1)"></button>
      <button class="fas fa-bullseye fa-1_5x" onclick="set_scope_control('Auto Focus', 1)"></button>
      <button class="fas fa-minus fa-1_5x" onclick="set_scope_control('Absolute Focus', -1)"></button>
  </div>

  <div class="w3-display-bottommiddle">
      <button id="rec-img-btn" class="record-button fas fa-camera fa-1_5x"  onclick="capture_scope_feed('/save_image')"></button>
      <button id="rec-pan-btn" class="record-button fas fa-expand fa-1_5x"  onclick="capture_scope_feed('/save_image_panorama')"></button>      
      <button id="rec-vid-btn" class="record-button fas fa-video fa-1_5x"  onclick="capture_scope_feed('/save_vid')"></button>
  </div>

  <div class="status-log w3-display-bottomright">
      <p id="status"> *** Status Log ***</p>
  </div>

  <div class="uid w3-display-bottomleft">
    <p>
    <label for="uuid">UID:</label>
    <select name="uuid" id="uuids_list_box" onchange="updateUUID()">
        <option value="{{ userId }}" selected>{{ userId }}</option>
          
        <!-- list all existing users on the device server-->
        {% for uuid in existingUsers %}
            {% if uuid != userId %}
                <option value="{{ uuid }}">{{ uuid }}</option>
            {% endif %}
        {%endfor%}

    </select>
    </p>
      <!-- <button id="uuidBtn" class="uuid-btn fas fa-sync-alt fa-xs"></button> -->
  </div>
<!-- 
    <div class="video-feed">
        <img src="{{ url_for('video_feed') }}">
    </div>
 -->

</div>


<!-- JS SCRIPTS -->
<!-- <script src="../static/scripts/jquery.min.js"></script> -->
<script src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>

<script>
    // a PYUVC workaround >> re-adjust scope settings + focus when app loads 
    document.addEventListener('DOMContentLoaded', (event) => {
        // document.getElementById("bg-main-video").style.backgroundImage = 'url( "{{ url_for('video_feed') }}" )';
        set_scope_control('Auto Exposure Mode', {{ scopeSettings['Auto Exposure Mode'].value }} );
        set_scope_control('Absolute Exposure Time', {{ scopeSettings['Absolute Exposure Time'].value }} );
        set_scope_control('Backlight Compensation', {{ scopeSettings['Backlight Compensation'].value }} );
        set_scope_control('Brightness', {{ scopeSettings['Brightness'].value }} );
        set_scope_control('Contrast', {{ scopeSettings['Contrast'].value }} );
        set_scope_control('Gain', {{ scopeSettings['Gain'].value }} );
        set_scope_control('Hue', {{ scopeSettings['Hue'].value }} );
        set_scope_control('Saturation', {{ scopeSettings['Saturation'].value }} );
        set_scope_control('Gamma', {{ scopeSettings['Gamma'].value }} );
        set_scope_control('White Balance temperature,Auto', {{ scopeSettings['White Balance temperature,Auto'].value }} );
        set_scope_control('White Balance temperature', {{ scopeSettings['White Balance temperature'].value }} );        
        // set the focus last with a slight delay
        setTimeout(() => {  set_scope_control('Absolute Focus', 0); }, 500);
    });

    // + - buttons to control sliders settings
    var slidersButtons = document.getElementById("settingsPanel").querySelectorAll(".settings-slider-button");
    slidersButtons.forEach(item => {

        item.onclick = function(){
            var sliderId = item.parentElement.querySelector(".setting-slider").id
            var settingSlider = $("#" + sliderId)
            var sliderStep = parseInt(settingSlider.attr('step'), 10);
            var currentSliderValue = parseInt(settingSlider.val(), 10);
            var newSliderValue = currentSliderValue;

            // Update Sliders values when + or = buttons are pressed
            var btnId = this.id
            switch(btnId){
                case "plus":
                    // console.log(sliderId + "+");
                    newSliderValue = currentSliderValue + 1;
                    break;
                case "minus":
                    // console.log(sliderId + "-");
                    newSliderValue = currentSliderValue - 1;
                    break;
            }

            settingSlider.val(newSliderValue).change()

        }
    });

    // Update sliders values and send to scope
    var sliders = document.querySelectorAll('.setting-slider')
    sliders.forEach(item => {
        
        var labelId = item.id + "Val"
        var label = document.getElementById(labelId);
        label.innerHTML = item.value

        // Update sliders labels 
        // item.oninput = function(){
        //     label.innerHTML = this.value
        // }

        // Update actual scope setting with selected slider value
        item.onchange = function() {
            var controlId = this.id
            label.innerHTML = this.value

            switch(controlId){
                case "wbSlider":
                    set_scope_control('White Balance temperature', this.value)
                    break;
                case "brightnessSlider":
                    set_scope_control('Brightness', this.value)
                    break;
                case "exposureSlider":
                    set_scope_control('Absolute Exposure Time', this.value)
                    break;
                case "contrastSlider":
                    set_scope_control('Contrast', this.value)
                    break;
                case "hueSlider":
                    set_scope_control('Hue', this.value)
                    break;
                case "satSlider":
                    set_scope_control('Saturation', this.value)
                    break;
                case "gainSlider":
                    set_scope_control('Gain', this.value)
                    break;
                case "gammaSlider":
                    set_scope_control('Gamma', this.value)
                    break;
                case "blcSlider":
                    set_scope_control('Backlight Compensation', this.value)
                    break;
            }
        }
    });

    // Set Scope Controls values function
    function set_scope_control(ctl, val) {
      console.log('Adjusing ' + ctl + ' to ' + val);
      $.ajax({
          type: 'POST',
          url: "/set_control",
          contentType: 'application/json;charset=UTF-8',
          data: JSON.stringify({'control': ctl, 'value': val}),
          success: function(result) {
                document.getElementById("status").innerHTML = result;
          },
          error: function(result) {
                document.getElementById("status").innerHTML = "ERROR!";
          }
      });

    };

    // Keyboard keys to control scope motion 
    $(window).keydown(function(e) {
        // console.log(e.keyCode)
        switch (e.keyCode) {
            case 72: // 'H' Key
                send_grbl_command('H', 0)
                break;
            case 87: // 'W' Key
                send_grbl_command('Y', -1)
                break;
            case 83: // 'S' Key
                send_grbl_command('Y', 1)
                break;        
            case 65: // 'A' Key
                send_grbl_command('X', 1)
                break;
            case 68: // 'D' Key
                send_grbl_command('X', -1)
                break;                                
            case 81: // 'Q' Key
                send_grbl_command('Z', -1)
                break;
            case 90: // 'Z' Key
                send_grbl_command('Z', 1)
                break;                                
        }
    });


    function update_step_size(){
        var step = document.getElementById("stepSizeSelector").value;
        send_grbl_command("STP", step)
    }


    function update_feed_rate(){
        var feed = document.getElementById("feedRateSelector").value
        send_grbl_command("FDR", feed)
    }


    function send_grbl_command(cmd, val){
      console.log('Sending ' + cmd + ' ' + val);
      $.ajax({
          type: 'POST',
          url: "/grbl",
          contentType: 'application/json;charset=UTF-8',
          data: JSON.stringify({'command': cmd, 'value': val}),
          success: function(result) {
                document.getElementById("status").innerHTML = result;
          },
          error: function(result) {
                document.getElementById("status").innerHTML = "ERROR!";
          }
      });
    };

    function home_on_finger(val){
      console.log('Homing on finger');
      $.ajax({
          type: 'POST',
          url: "/home_finger",
          contentType: 'application/json;charset=UTF-8',
          data: JSON.stringify({'value': val}),
          success: function(result) {
                document.getElementById("status").innerHTML = result;
          },
          error: function(result) {
                document.getElementById("status").innerHTML = "ERROR!";
          }
      });
    };

    function home_on_caps(val){
      console.log('Looking for Capillaries');
      $.ajax({
          type: 'POST',
          url: "/find_caps",
          contentType: 'application/json;charset=UTF-8',
          data: JSON.stringify({'value': val}),
          success: function(result) {
                document.getElementById("status").innerHTML = result;
          },
          error: function(result) {
                document.getElementById("status").innerHTML = "ERROR!";
          }
      });
    };

    // Capture Scope image
    function capture_scope_feed(capture_path){
      var timeStamp = new Date().getTime();
      var captureIndicator = document.getElementById("captureIndicator");
      var recVidBtn = document.getElementById("rec-vid-btn");
      var recPanBtn = document.getElementById("rec-pan-btn");      
      var recImgBtn = document.getElementById("rec-img-btn");
      
      captureIndicator.style.display = "block";
      recVidBtn.disabled = true;
      recPanBtn.disabled = true;
      recImgBtn.disabled = true;

      $.ajax({
          type: 'POST',
          url: capture_path,
          contentType: 'application/json;charset=UTF-8',
          data: JSON.stringify({'timestamp': timeStamp}),
          success: function(result) {
                document.getElementById("status").innerHTML = result;
                captureIndicator.style.display = "none";
                recVidBtn.disabled = false;
                recImgBtn.disabled = false;
                recPanBtn.disabled = false;
          },
          error: function(result) {
                document.getElementById("status").innerHTML = "ERROR!";
                captureIndicator.style.display = "none";
                recVidBtn.disabled = false;
                recImgBtn.disabled = false;
                recPanBtn.disabled = false;                
          }
      });

    }

    function detectMob() {
        const toMatch = [
            /Android/i,
            /webOS/i,
            /iPhone/i,
            /iPad/i,
            /iPod/i,
            /BlackBerry/i,
            /Windows Phone/i
        ];
        return toMatch.some((toMatchItem) => {
            return navigator.userAgent.match(toMatchItem);
        });
    }

    // Settings Panel Popup Control
    var settingsPopup = document.getElementById("settingsPanel");
    var settingsBtn = document.getElementById("settingsBtn");
    
    var motionCtlPopup = document.getElementById("motionControlPanel");        
    var motionCtlBtn = document.getElementById("motionControlBtn");

    var leftBtnsPanel = document.getElementById("leftButtonsPanel");
    var closePanelButtons = document.querySelectorAll(".close-settings-panel");

    settingsBtn.onclick = function() {
      settingsPopup.style.display = "block";
      leftBtnsPanel.style.display="none";
    }


    motionCtlBtn.onclick = function() {
        motionCtlPopup.style.display = "block";
        leftBtnsPanel.style.display="none";
    }


    function updateUUID(){
        var uuidsListBoxVal = document.getElementById('uuids_list_box').value;
        console.log(uuidsListBoxVal)
        document.cookie = "scan_uuid=" + uuidsListBoxVal + ";max-age=" + 90*24*60*60 + ";";
    }

    // uuidBtn.onclick = function() {
    
    //     $.ajax({
    //         type: 'GET',
    //         url: '/get_uuids_list',
    //         contentType: 'application/json;charset=UTF-8',
    //         //   data: JSON.stringify({'timestamp': timeStamp}),
    //         success: function(result) {                    
                    
    //                 var uuids_list = result.split(",");
    //                 var uuids_select = document.getElementById("uuids_list_box");

    //                 for(let i = 0; i < uuids_list.length; i++){
    //                     console.log(uuids_list[i]);
    //                     uuids_select.options[uuids_select.options.length] = new Option(uuids_list[i], uuids_list[i]);
    //                 }

    //                 // document.getElementById("status").innerHTML = result;
    //         },
    //         error: function(result) {
    //                 document.getElementById("status").innerHTML = "ERROR!";

    //         }
    //     });

    // }


    closePanelButtons.forEach(item => {
        item.onclick = function() {
          settingsPopup.style.display = "none";
          motionCtlPopup.style.display = "none";      
          leftBtnsPanel.style.display = "block";
        }
    });

    // window.onclick = function(event) {
    //   if (event.target == modal) {
    //     modal.style.display = "none";
    //   }
    // }    

</script>

</body>
</html>